<html>
  <body>
    Hey there, authenticated user!

    <br /><br />

    <table>
      <tr><th>Email</th><td>{{ user.email }}</td></tr>
      <tr><th>Name</th><td>{{ user.full_name }}</td></tr>
      <tr><th>API token</th><td>{{ user.api_token }}</td></tr>
    </table>

    <br /><br />

    <a href="/logout">Logout</a>
  </body>
</html>